.errorlist{
    color:red;
}
h1{
    margin-bottom:8px;
}
a.disabled:hover{
  color: #0088cc;
  text-decoration: none;
}
.left{
    float:left;
}
.clearfix{
    clear:both;
}
.right_side_container{
    float:right;
}
.left_side_container{
    float:left;
}
#width_container{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
#header{
    margin-top:8%;
}
#header #logo{
    padding-right:90px;
    position:relative;
    bottom:8px;
    padding-left:10px;
    float:left;
}
#header #logo img{
    max-width:400px;
}
#header .menu-div{
    border-left: 1px solid #EEE;
    padding-left:12px;
    padding-right:40px;
    vertical-align:top;
    display:inline-block;
}
#header .menu-div.last{
   padding-right:0px;
}
#header .menu-div h4{
    margin-bottom:3px;
}
#page{
    padding:0px 10px;
}

#footer{
    border-top:1px solid #EEE;
    padding-top:5px;
    text-align:right;
}

#footer p, #footer a{
    color:#888;
    font-size:12px;
}

#footer a{
    text-decoration:underline;
}
