{% extends 'base.html' %}

{% block title %}
Upcoming Events | 
{% endblock %}

{% block meta %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/event/events.css">
    {% endcompress %}

{% endblock %}

{% block page_header %}
    <h2>Upcoming Events</h2>
{% endblock %}

{% block content %}
    {% for event in upcoming_events %}
    	{% include "event.html" %}
        <br>
      {% empty %}
      We have no upcoming event at the moment. Check back soon!
      {% endfor %}
      <a style="margin-bottom:10px;" class="right_side_container" href="{% url events_past %}">View Past Events &raquo;</a>
{% endblock %}
