<div class="event_main_info_right right_side_container">
    <h3>Location: {{event.location}}</h3>
    {% if not event.is_past %}{% include 'event_rsvp.html' %}{% endif %}
</div>
<div class="event_main_info_left">
    <h1>{{event.name}}</h1>
    <h3 class="datetime">
        <strong>{{event.start_datetime|date:"D F j"}}</strong>, {{event.start_datetime|date:"Y"}}
        {% if event.start_datetime.day == event.end_datetime.day and event.start_datetime.month == event.end_datetime.month and event.start_datetime.year == event.end_datetime.year  %}
            from <em>{{event.start_datetime|date:"h:i A"}}</em> - <em>{{event.end_datetime|date:"h:i A"}}</em>
        {% else %}
            <em>{{event.start_datetime|date:"h:i A"}}</em> - <strong>{{event.end_datetime|date:"D, F j"}}</strong>, {{event.end_datetime|date:"Y"}} <em>{{event.end_datetime|date:"h:i A"}}</em>
        {% endif %}
    </h3>
    {% if event.attending_employers %}
        <p><b>Attending Firms:</b> {{event.attending_employers}}</p>
    {% endif %}
    {{event.slideshow|safe}}
</div>
<p>{{event.description|safe}}</p>
