{% extends 'base.html' %}

{% block title %}
About Us | 
{% endblock %}

{% block meta %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/core/about.css">
    {% endcompress %}

{% endblock %}

{% block page_header %}
    <h2>About</h2>
{% endblock %}

{% block content %}
    <h3>Executive Team</h3>
    <ul class="exec">
        {% for exec_member in current_exec_members %}
        <li>
            {% include "exec_member.html" %}
        </li>
        {% endfor %}
    </ul>
    
    {% if past_exec_members %}
        <br> 
        <h3>Alumni</h3>
        <ul class="exec">
            {% for exec_member in past_exec_members %}
            <li>
                {% include "exec_member.html" %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
