{% extends 'base.html' %}

{% block title %}
About Us | 
{% endblock %}

{% block meta %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/core/about.css">
    {% endcompress %}

{% endblock %}

{% block page_header %}
    <h2>About Us</h2>
{% endblock %}

{% block content %}
    <p>The purpose of Traders@MIT is to prepare its members for a career in the financial markets by teaching the fundamentals of financial products and exploring differences in various trading desks. We strive to provide members with the skills necessary to become successful traders through hands-on learning activities, trading simulations using our state-of-the-art software, and an introductory trading seminar.</p>
    <br>
    <h3>Executive Team</h3>
    <ul class="exec">
        {% for exec_member in current_exec_members %}
        <li>
            {% include "exec_member.html" %}
        </li>
        {% endfor %}
    </ul>
    
    {% if past_exec_members %}
        <br> 
        <h3>Alumni</h3>
        <ul class="exec">
            {% for exec_member in past_exec_members %}
            <li>
                {% include "exec_member.html" %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
