{% if exec_member.image %}
    <img class="thumbnail" src="{{ MEDIA_URL }}{{exec_member.image}}" />
{% endif %}

<h2>{{exec_member.user.first_name}} {{exec_member.user.last_name}}</h2>

<p class="year_major">
    <b>{% if exec_member.co_president %}Co-President{% else %}Exec Member{% endif %}</b>
    - Class of {{exec_member.graduation_year}} - {% for major in exec_member.major.all %}{{major}}{% if not forloop.last %} - {% endif %}{% endfor %}
</p>

{% if exec_member.website %}
    <a class="website" href="{{exec_member.website}}">{{exec_member.website}}</a>
{% endif %}

{% if exec_member.phone %}
    <p class="phone">{{exec_member.phone}} </p>
{% endif %}

<p class="blurb">{{exec_member.blurb|safe}}</p>
