{% extends 'base.html' %}

{% block meta %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    {% endcompress %}

    {% compress js %}
        <script src="{{ STATIC_URL}}js/home.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <div class="info">
            <h2>Mission Statement</h2>
            <p>
                The purpose of Traders@MIT is to prepare students for successful careers in trading by -
                <ul>
                    <li>teaching the fundamentals of financial products</li>
                    <li>organizing educational events</li>
                    <li>hosting an annual intercollegiate trading competition</li>
                </ul>
            </p>
            <p class="action">
                <a href="{% url about %}" class="btn btn-success btn-primary btn-large">Learn more</a>
                <!--<a href="/student/competition/spring" class="btn btn-success btn-primary btn-large">Register for the 2013 Spring Trading Competition</a>-->
            </p>
        </div>
        <div class="media">
            <embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="420" height="247" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100833293067805537544%3Falt%3Drss%26kind%3Dphoto%26access%3Dpublic%26psc%3DF%26q%26uname%3D100833293067805537544" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
